In [147]:
import pandas as pd

Gather Data

In [148]:
package_df = pd.read_csv("D:\BINUS\Bank Soal Data Warehouse\csv project\package_tourism.csv")
package_df.head()

,Package,City,Place_Tourism1,Place_Tourism2,Place_Tourism3,Place_Tourism4,Place_Tourism5
0,1,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil,NaN,NaN
1,2,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan,NaN,NaN
2,3,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal,NaN,NaN
3,4,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari,Pulau Pramuka,Pulau Pelangi
4,5,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta,Museum Macan (Modern and Contemporary Art in N...,NaN

In [149]:
ratingtourism_df = pd.read_csv("D:\\BINUS\\Bank Soal Data Warehouse\\csv project\\rating_tourism.csv")
ratingtourism_df.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [150]:
tourismwithid_df = pd.read_csv("D:\\BINUS\\Bank Soal Data Warehouse\\csv project\\tourism_with_id.csv")
tourismwithid_df.sample(20)

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
44,45,Jakarta Aquarium dan Safari,"Jika telah mengunjungi Seaworld Ancol, mungkin...",Taman Hiburan,Jakarta,185000,4.6,NaN,"{'lat': -6.1752647, 'lng': 106.7904684}",-6.175265,106.790468,NaN,45
113,114,The Lost World Castle,The Lost World Castle merupakan salah satu obj...,Taman Hiburan,Yogyakarta,30000,4.3,NaN,"{'lat': -7.6041648, 'lng': 110.4510042}",-7.604165,110.451004,NaN,114
237,238,Gunung Manglayang,Gunung Manglayang adalah sebuah gunung bertipe...,Cagar Alam,Bandung,7500,4.5,NaN,"{'lat': -6.876111099999999, 'lng': 107.7436111}",-6.876111,107.743611,NaN,238
8,9,Pelabuhan Marina,Pelabuhan Marina Ancol berada di kawasan Taman...,Bahari,Jakarta,175000,4.4,NaN,"{'lat': 1.07888, 'lng': 103.931398}",1.078880,103.931398,NaN,9
149,150,Wisata Kraton Jogja,Kraton Jogja adalah sebuah komplek kerajaan ya...,Budaya,Yogyakarta,7000,4.7,NaN,"{'lat': -7.806753499999999, 'lng': 110.3636659}",-7.806754,110.363666,NaN,150
403,404,Kenjeran Park,Kenjeran Park merupakan salah satu tempat wisa...,Taman Hiburan,Surabaya,35000,4.2,120.0,"{'lat': -7.252296400000001, 'lng': 112.7966952}",-7.252296,112.796695,NaN,404
86,87,Sindu Kusuma Edupark (SKE),Sindu Kusuma Edupark (SKE) merupakan sebuah de...,Taman Hiburan,Yogyakarta,20000,4.2,120.0,"{'lat': -7.767297300000001, 'lng': 110.3542486}",-7.767297,110.354249,NaN,87
63,64,Museum Sasmita Loka Ahmad Yani,Museum Sasmita Loka Ahmad Yani adalah salah sa...,Budaya,Jakarta,2000,4.7,45.0,"{'lat': -6.204630300000001, 'lng': 106.8365324}",-6.204630,106.836532,NaN,64
25,26,Pecinan Glodok,Kawasan Glodok yang dikenal sebagai pusat perd...,Pusat Perbelanjaan,Jakarta,0,4.3,20.0,"{'lat': -6.142758799999999, 'lng': 106.8140791}",-6.142759,106.814079,NaN,26
80,81,Mall Thamrin City,Thamrin City atau Thamrin City Mall merupakan ...,Pusat Perbelanjaan,Jakarta,0,4.4,60.0,"{'lat': -6.1946096, 'lng': 106.817905}",-6.194610,106.817905,NaN,81
12,13,Pulau Pramuka,Pulau Pramuka merupakan salah satu pulau yang ...,Bahari,Jakarta,5000,4.2,NaN,"{'lat': -5.745962, 'lng': 106.6136577}",-5.745962,106.613658,NaN,13
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
345,346,Indonesia Kaya Park,Lokasi Taman Indonesia Kaya yang berada di pus...,Taman Hiburan,Semarang,0,4.6,45.0,"{'lat': -6.992350699999998, 'lng': 110.4201162}",-6.992351,110.420116,NaN,346
298,299,Sendang Geulis Kahuripan,Wilayah ini lebih tepatnya berada di RPH Cikal...,Cagar Alam,Bandung,10000,4.3,120.0,"{'lat': -6.7495268, 'lng': 107.478658}",-6.749527,107.478658,NaN,299
228,229,Rabbit Town,Rabbit Town Bandung merupakan salah satu wisat...,Taman Hiburan,Bandung,45000,4.0,90.0,"{'lat': -6.8669518, 'lng': 107.6100859}",-6.866952,107.610086,NaN,229
292,293,Taman Badak,Taman Badak ini baru saja diresmikan pada tang...,Taman Hiburan,Bandung,0,4.5,NaN,"{'lat': -6.9132752, 'lng': 107.6094908}",-6.913275,107.609491,NaN,293
81,82,Museum Satria Mandala,Museum Satria Mandala adalah museum sejarah pe...,Budaya,Jakarta,5000,4.5,150.0,"{'lat': -6.231698499999999, 'lng': 106.8185425}",-6.231699,106.818543,NaN,82
318,319,Kawah Rengganis Cibuni,Kawasan Bandung Selatan khususnya Ciwidey mema...,Cagar Alam,Bandung,5000,4.3,NaN,"{'lat': -7.172412599999999, 'lng': 107.3766656}",-7.172413,107.376666,NaN,319
130,131,Watu Lumbung,Letak Kampung Edukasi Watu Lumbung yang berada...,Cagar Alam,Yogyakarta,5000,4.3,30.0,"{'lat': -7.992437900000001, 'lng': 110.317778}",-7.992438,110.317778,NaN,131
415,416,Keraton Surabaya,Kawasan yang berjuluk Kampung Keraton ini terd...,Budaya,Surabaya,0,4.4,NaN,"{'lat': -7.256755299999998, 'lng': 112.7942203}",-7.256755,112.794220,NaN,416

In [151]:
user_df = pd.read_csv("D:\\BINUS\\Bank Soal Data Warehouse\\csv project\\user.csv")
user_df.head()

   User_Id                   Location  Age
0        1      Semarang, Jawa Tengah   20
1        2         Bekasi, Jawa Barat   21
2        3        Cirebon, Jawa Barat   23
3        4         Bekasi, Jawa Barat   21
4        5  Lampung, Sumatera Selatan   20

assesing data

In [152]:
package_df.info()
package_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Package         100 non-null    int64
 1   City            100 non-null    object
 2   Place_Tourism1  100 non-null    object
 3   Place_Tourism2  100 non-null    object
 4   Place_Tourism3  100 non-null    object
 5   Place_Tourism4  66 non-null     object
 6   Place_Tourism5  39 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

Package            0
City               0
Place_Tourism1     0
Place_Tourism2     0
Place_Tourism3     0
Place_Tourism4    34
Place_Tourism5    61
dtype: int64

In [153]:
ratingtourism_df.info()
ratingtourism_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        10000 non-null  int64
 1   Place_Id       10000 non-null  int64
 2   Place_Ratings  10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

In [154]:
tourismwithid_df.info()
tourismwithid_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB

Place_Id          0
Place_Name        0
Description       0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Unnamed: 11     437
Unnamed: 12       0
dtype: int64

In [155]:
user_df.info()
user_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_Id   300 non-null    int64
 1   Location  300 non-null    object
 2   Age       300 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

User_Id     0
Location    0
Age         0
dtype: int64

In [156]:
print('Dupe package : ', package_df.duplicated().sum())
print('Dupe rating turis : ', ratingtourism_df.duplicated().sum())
print('Dupe turiswithid : ', tourismwithid_df.duplicated().sum())
print('Dupe user : ', user_df.duplicated().sum())

Dupe package :  0
Dupe rating turis :  79
Dupe turiswithid :  0
Dupe user :  0

In [157]:
package_df[['Place_Tourism4', 'Place_Tourism5']] = package_df[['Place_Tourism4', 'Place_Tourism5']].fillna('-')
print(package_df[['Place_Tourism4', 'Place_Tourism5']])

                                       Place_Tourism4  \
0                                                   -
1                                                   -
2                                                   -
3                                       Pulau Pramuka
4   Museum Macan (Modern and Contemporary Art in N...
..                                                ...
95                    Taman Ekspresi Dan Perpustakaan
96                        Food Junction Grand Pakuwon
97                                      Taman Bungkul
98                                Museum Mpu Tantular
99                               Kebun Bibit Wonorejo

                      Place_Tourism5
0                                  -
1                                  -
2                                  -
3                      Pulau Pelangi
4                                  -
..                               ...
95           Museum De Javasche Bank
96          | Atlantis Land Surabaya
97      Taman Flora Bratang Surabaya
98  Taman Air Mancur Menari Kenjeran
99                       Taman Mundu

[100 rows x 2 columns]

In [158]:
package_df.head()

,Package,City,Place_Tourism1,Place_Tourism2,Place_Tourism3,Place_Tourism4,Place_Tourism5
0,1,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil,-,-
1,2,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan,-,-
2,3,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal,-,-
3,4,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari,Pulau Pramuka,Pulau Pelangi
4,5,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta,Museum Macan (Modern and Contemporary Art in N...,-

In [159]:
tourismwithid_df.drop(['Unnamed: 11', 'Unnamed: 12','Description','Coordinate'], axis=1, inplace=True)
tourismwithid_df.sample(10)

,Place_Id,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long
418,419,Monumen Tugu Pahlawan,Budaya,Surabaya,0,4.7,30.0,-7.246926,112.737810
303,304,Situ Cileunca,Cagar Alam,Bandung,2500,4.4,NaN,-7.192328,107.551001
287,288,Masjid Salman ITB,Tempat Ibadah,Bandung,0,4.8,NaN,-6.893664,107.611271
242,243,Kampung Korea Bandung,Budaya,Bandung,15000,4.1,NaN,-6.915455,107.640769
9,10,Pulau Tidung,Bahari,Jakarta,150000,4.5,NaN,-5.803205,106.523791
60,61,Tugu Proklamasi,Budaya,Jakarta,0,4.6,NaN,-6.203047,106.846662
67,68,Pasar Petak Sembilan,Pusat Perbelanjaan,Jakarta,0,4.4,45.0,-6.143672,106.812940
36,37,Bumi Perkemahan Cibubur,Taman Hiburan,Jakarta,10000,4.5,NaN,-6.360249,106.893842
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Tempat Ibadah,Surabaya,10000,4.8,NaN,-7.242076,112.736816
412,413,Museum TNI AL Loka Jala Crana,Budaya,Surabaya,2000,4.5,NaN,-7.227185,112.718997

In [160]:
rating_turismwithid_df = pd.merge(
    left=ratingtourism_df,
    right=tourismwithid_df,
    how="left",
    left_on="Place_Id",
    right_on="Place_Id"
)
rating_turismwithid_df.head()

,User_Id,Place_Id,Place_Ratings,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long
0,1,179,3,Candi Ratu Boko,Budaya,Yogyakarta,75000,4.6,90.0,-7.770542,110.489416
1,1,344,2,Pantai Marina,Bahari,Semarang,3000,4.1,NaN,-6.948877,110.389329
2,1,5,5,Atlantis Water Adventure,Taman Hiburan,Jakarta,94000,4.5,60.0,-6.124190,106.839134
3,1,373,3,Museum Kereta Ambarawa,Budaya,Semarang,10000,4.5,60.0,-7.264599,110.404602
4,1,101,4,Kampung Wisata Sosro Menduran,Budaya,Yogyakarta,0,4.0,NaN,-7.792190,110.362151

In [161]:
finalmergeset_df = pd.merge(
    left=rating_turismwithid_df,
    right=user_df,
    how="left",
    left_on="User_Id",
    right_on="User_Id"
)
finalmergeset_df.head(100)

,User_Id,Place_Id,Place_Ratings,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long,Location,Age
0,1,179,3,Candi Ratu Boko,Budaya,Yogyakarta,75000,4.6,90.0,-7.770542,110.489416,"Semarang, Jawa Tengah",20
1,1,344,2,Pantai Marina,Bahari,Semarang,3000,4.1,NaN,-6.948877,110.389329,"Semarang, Jawa Tengah",20
2,1,5,5,Atlantis Water Adventure,Taman Hiburan,Jakarta,94000,4.5,60.0,-6.124190,106.839134,"Semarang, Jawa Tengah",20
3,1,373,3,Museum Kereta Ambarawa,Budaya,Semarang,10000,4.5,60.0,-7.264599,110.404602,"Semarang, Jawa Tengah",20
4,1,101,4,Kampung Wisata Sosro Menduran,Budaya,Yogyakarta,0,4.0,NaN,-7.792190,110.362151,"Semarang, Jawa Tengah",20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,409,3,Rumah Batik,Budaya,Surabaya,0,4.5,15.0,-7.278736,112.718453,"Bekasi, Jawa Barat",21
96,4,88,3,Museum Benteng Vredeburg Yogyakarta,Budaya,Yogyakarta,3000,4.6,120.0,-7.800202,110.366304,"Bekasi, Jawa Barat",21
97,4,4,4,Taman Mini Indonesia Indah (TMII),Taman Hiburan,Jakarta,10000,4.5,NaN,-6.302446,106.895156,"Bekasi, Jawa Barat",21
98,4,377,3,La Kana Chapel,Taman Hiburan,Semarang,35000,4.5,NaN,-7.215692,110.364939,"Bekasi, Jawa Barat",21
99,4,43,5,The Escape Hunt,Taman Hiburan,Jakarta,70000,4.4,120.0,-6.255503,106.812259,"Bekasi, Jawa Barat",21

In [163]:
finalmergeset_df.to_csv('projectku.csv', index=False)